* {
    box-sizing: border-box;
}

.navigation-bar {
    background-color: #222222;
    color: white;
}

.navigation {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    padding: 10px;
}

li a {
    padding: 10px;
    transition: 0.4s;
    text-decoration: none;
    color: grey;
}

li a:hover {
    color: white;
    text-decoration: none;
}

.active-nav {
    color: white;
    border-bottom: 1px solid white;
}

.search-bar {
    margin-left: 20px;
}
form {
    display: flex;
}

form button {
    padding:  12px;
    border: none;
    color: white;
    background-color: #222222;
}

form .search-input {
    padding: 10px;
    transition: 2s ;
}

/* .search-input:focus {
    width: 25%;
} */

.btn-secondary {
    background-color: #222222 !important;
    padding: 11px !important;
}

.app {
    width: 200px;
    margin: 0 auto;
}
.customers img {
    width: 50px;
    border-radius: 50px;
}
.single-customer-wrapper {
    margin: 50px;
}
.single-customer {
    border-bottom: 1px solid #222222;
    padding: 10px;
}
.single-customer-img {
    width: 50px;
}